.Header {
    display: block;
    max-width: 100%;
    width: 100%;
    padding-top: 2%;
    margin-bottom: 4%;
}

.Header-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.Header-suggestions {
    text-decoration: underline;
    text-underline-offset: 0.9375rem;
    text-decoration-color: var(--apply-color);
    color: var(--apply-color);
}