.Investment{
    padding: 0 2%;
}

.Investment-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Investment-h3{
    font-size: 1.125rem;
}

.Blue-text{
    color: var(--apply-color);
}

.Investment-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Investment-select{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 0.0625rem solid var(--opacity-color);
    border-radius: 0.375rem;
    padding: 0.625rem 1rem;
}

.Investment-positive-img{
    width: 1rem;
    height: 1rem;
}

.Investment-apply{
    border: 0.0625rem solid var(--apply-color);
    border-radius: 0.375rem;
    padding: 0.625rem 1rem;
    color: var(--background-color);
    background-color: var(--apply-color);
}

.Investment-suggestions{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    margin-bottom: 2%;
}

.Investment-suggestions-text{
    font-size: 1.125rem;
}

.Investment-suggestions-button{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    border: 0.0625rem solid var(--opacity-color);
    border-radius: 0.375rem;
    padding: 0.625rem 1rem;
}

.Suggestions-button-text-semibold{
    font-weight: var(--font-semibold);
}

.Suggestions-icon-open{
    width: 0.75rem;
    height: 0.625rem;
}