.Graphic-circular-progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(var(--graphic-color)3.6deg, var(--opacity-color) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Graphic-circular-progress::before{
    content: "";
    position: absolute;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    background-color: var(--background-color);
}

.Graphic-progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: var(--graphic-color);
}