.Portfolio {
    padding: 0 2%;
}

.Portfolio-h2 {
    font-size: 1.25rem;
    font-weight: var(--font-semibold);
}

.Portfolio-text {
    font-size: 1rem;
    margin-bottom: 3%;
}

.Container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 3rem;
    max-height: calc(100vh - 3.125rem);
    /* Ajusta el tamaño máximo de la altura del contenedor según la altura de la ventana del navegador menos la altura del encabezado */
    margin-bottom: 5%;
}

.Container-graphics {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    text-align: center;
}

.Graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
}

.Graphic-text {
    font-weight: var(--font-semibold);
}

.Graphic-circular-progress {
    position: relative;
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 50%;
    background: conic-gradient(var(--graphic-color) 3.6deg, var(--opacity-color) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
} 

/* Pseudo-elemento ::before para crear un círculo interno que actúa como fondo */
.Graphic-circular-progress::before {
    content: "";
    position: absolute;
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
    background-color: var(--background-color);
}

.Graphic-progress-value {
    position: relative;
    font-size: 1.875rem;
    font-weight: var(--font-semibold);
    color: var(--graphic-color);
}
  


.Arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.Arrow-text {
    color: var(--graphic-color);
}

.Arrow-img {
    width: 30%;
}

.Line {
    height: 12.5rem;
    border-left: 0.0625rem solid var(--opacity-color);
}

.Score-components {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2.2rem;
}

.Component {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Component-first-part {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Component-icon-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Component-icon {
    width: 1.25rem;
}

.Component-text {
    width: 8.75rem;
}

.Bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    color: var(--graphic-color);
}

.Punctuation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.5rem;
    font-size: 0.875rem;
}

.Punctuation-second {
    width: 8.125rem;
}

/* Estilos para la barra principal */
.Bar {
    position: relative;
    align-items: center;
    width: 12.5rem;
    height: 1.125rem;
    border-radius: 1.25rem;
    background-color: var(--opacity-color);
}

/* Estilos para los elementos secundarios de la barra */
.Bar div {
    position: relative;
    width: 0;
    /* Ancho inicial (animación) */
    height: 1.125rem;
    border-radius: 1.25rem;
    background-color: var(--graphic-color);
}

/* Animaciones para las barras individuales */

/* Primera animación Risk */
#risk-firstbar {
    animation: risk-first 2s forwards;
    /* Nombre, duración y dirección */
}

@keyframes risk-first {
    100% {
        width: 92.90%;
        /* Anchura final */
    }
}

/* Segunda animación */
#risk-secondbar {
    animation: risk-second 2s forwards;
    /* Nombre, duración y dirección */
}

@keyframes risk-second {
    100% {
        width: 96.61%;
        /* Anchura final */
    }
}

/* Primera animación Sector */
#sector-firstbar {
    animation: sector-first 2s forwards;
}

@keyframes sector-first {
    100% {
        width: 71.67%;
    }
}

/* Segunda animación Sector */
#sector-secondbar {
    animation: sector-second 2s forwards;
}

@keyframes sector-second {
    100% {
        width: 88.33%;
    }
}

/* Primera animación Boosted */
#boosted-firstbar {
    animation: boosted-first 2s forwards;
}

@keyframes boosted-first {
    100% {
        width: 72.53%;
    }
}

/* Segunda animación Boosted */
#boosted-secondbar {
    animation: boosted-second 2s forwards;
}

@keyframes boosted-second {
    100% {
        width: 81.67%;
    }
}

.Component-arrow {
    display: flex;
    align-items: center;
    gap: 1rem;
}