table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
}

th,
td {
    border-bottom: 0.0625rem solid var(--opacity-color);
    padding: 0 0.5rem;
    text-align: center;
}

.Row1 {
    text-align: left;
    width: 3.125rem;
    padding: 0.9375rem 0;
}

.Row1-column1,
.Row2-column1 {
    height: 3.875rem;
}

.Row1-column2,
.Row1-column3,
.Row1-column4,
.Row1-column5,
.Row1-column6,
.Row1-column7,
.Row1-column8,
.Row2-column2,
.Row2-column3,
.Row2-column4,
.Row2-column5,
.Row2-column6,
.Row2-column7,
.Row2-column8 {
    height: 5.1875rem;
    vertical-align: none;
}


.Row3,
.Row1-column3,
.Row2-column3,
.Row4,
.Row1-column4,
.Row2-column4 {
    border-right: 0.0625rem solid var(--opacity-color);
}

.Security-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.Security {
    width: 12.5rem;
    text-align: left;
}

.Security-title {
    font-weight: var(--font-semibold);
    color: var(--apply-color);
}

.Portfolio-score-positive {
    color: var(--graphic-color);
}

.Portfolio-score-negative {
    color: var(--negative-color);
}

.Alt-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 0.0625rem solid var(--line-color);
    padding: 0.25rem 0;
    width: 80%;
    border-radius: 0.25rem;
}

.Alt-icon {
    width: 0.75rem;
    height: 0.625rem;
}

.Weight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.Weight-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Weight-result-text {
    font-size: 0.75rem;
}

.Sell {
    color: var(--negative-color);
}

.Buy {
    color: var(--graphic-color);
}

.Weight-result-arrow {
    width: 1rem;
    height: 0.625rem;
}

.Consensus-button {
    font-size: 0.875rem;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3.125rem;
}

.Consensus-sell {
    background-color: var(--desatured-negative-color);
}

.Consensus-buy {
    background-color: var(--desatured-graphic-color);
}

.Risk {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.75rem;
}

.Risk-icon {
    width: 0.75rem;
    height: 0.625rem;
}

.Icon-negative {
    height: 0.125rem;
}

.Reward-text {
    font-size: 0.75rem;
    text-align: center;
}

.Reward-negative {
    font-size: 1.5rem;
    font-weight: var(--font-semibold);
}

/* Animación de número */
.animate-number {
    animation: animateNumber 1.5s ease-in-out forwards; /* Nombre, duración y dirección */
    opacity: 0; /* Inicialmente invisible */
}

@keyframes animateNumber {
    from {
        opacity: 0; /* Opacidad inicial */
        transform: translateY(1.25rem); /* Movimiento hacia arriba para aparecer desde abajo */
    }

    to {
        opacity: 1; /* Opacidad final */
        transform: translateY(0); /* Sin desplazamiento vertical al final */
    }
}
