table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    /* border-top: 1px solid var(--line-color); */
    border-bottom: 1px solid var(--opacity-color);
    padding: 8px;
    text-align: center;
}

th {
    /* background-color: #f2f2f2; */
}

.Row1{
    text-align: left;
    width: 50px;
}

.Row1-column1{
    /* height: 80px; */
}

.Security-container{
    display: flex;
    justify-content: start;
    align-items: center;
    /* gap: 2rem; */
}
.Security{
    width: 200px;
    text-align: left;
    /* border-top: 1px solid var(--background-color); */
}

.Security-title{
    font-weight: var(--font-semibold);
    color: var(--apply-color);
}

.Portfolio-score-positive{
    color: var(--graphic-color);
}

.Portfolio-score-negative{
    color: var(--negative-color);
}